.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;

  padding: 2.5rem;
}

.open {
  color: var(--green9);
}

.closed {
  color: var(--red9);
}

.schedule {
  border-collapse: collapse;
}

.schedule td {
  padding: 0.5rem 2rem;

  text-align: left;
  vertical-align: baseline;
}

.schedule tr td:last-child {
  text-align: right;
}

.schedule td ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  list-style-type: none;
}

.current_day {
  font-weight: bold;
}

.footer a {
  font-weight: 500;
}

.footer a:hover {
  text-decoration: underline;
}
